@model List<QLBH.Models.sanpham>
@{
    ViewBag.Title = "NHV STORE";
}

<p style="font-size:250%; font-weight:bold;">DANH SÁCH SẢN PHẨM</p>
<a href="/SanPham/Add">THÊM SẢN PHẨM</a>


<div>
    <table class="table">
        <thead>
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>
                    <a href="/SanPham/Edit?id=@item.id">Sửa /</a>
                    <a href="/SanPham/Delete?id=@item.id">Xóa</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>