@model List<QLBH.Models.sanpham>

<h2>NHV STORE</h2>
<a href="/SanPham/Add">Them san pham</a>
<br />
<caption>Danh sách sản phẩm</caption>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên Sản Phẩm</th>
            <th>Thao Tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.name</td>
                    <td>
                        <a href="/SanPham/Edit?id=@item.id">Sua</a>
                        <a href="/SanPham/Delete?id=@item.id">Xoa</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
