@{
    ViewBag.Title = "Danh sách danh mục";
}

@*
    Chèn jQuery và AJAX vào View
*@

<title>Category List</title>
<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetCategories", "DanhMuc")',
                type: 'POST',
                dataType: 'json',
                success: function (data) {

                    console.log(data);

                },
                error: function () {
                    alert('Có lỗi xảy ra: ');
                }
            });
        });
</script>
<div>
    <!-- Danh sách danh mục sẽ được tải ở đây -->
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Danh Mục</th>
                <th>Mô Tả</th>
                <th>ID Cha</th>
            </tr>
        </thead>
        <tbody id="category-list">

        </tbody>
    </table>
</div>


